@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h4>Welcome to NationBuilder!</h4>

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Click Here to Start a New Game", "Index", "Game")</p>
}
else
{
    <p>You must be logged in to play. Please see the top of the page.</p>
}